<div style="clear: both">
  <div style="float: left; width: 100px; height: 10%">
    <img [src]="image_url" style="width: 200px; height: 200px" />
  </div>
  <div style="width: 50%; height: 10%; padding-left: 250px">
    <h3>
      {{ title }}
    </h3>

    <h4>
      {{ name }}
    </h4>
    <p>{{ bio }}</p>
    <h4>want to work with</h4>

    <div>
      <a
        style="cursor: pointer"
        [attr.href]="!hideVoteIcon ? null : '#'"
        [class.disabled]="!hideVoteIcon"
        (click)="!hideVoteIcon && vote()"
      >
        <img
          [class.imageFile]="hideVoteIcon"
          src="../../assets/thumbs-up.svg"
          width="20"
          height="50"
        />
      </a>
    </div>
    <br />
    <p>{{ numberOfVotes }} have said yes</p>
  </div>

  <br />
  <br />
  <br />
</div>
